* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - ((379 * 3) + (32 * 2)));
    padding-left: calc(50% - ((379 * 3) + (32 * 2)));
}

a {
    text-decoration: none;
}

